$inactive-color: #777;


.input-container {
  width: $menu-card-width + 20px;
}

.menu-input {
  width: 100%;

  padding-bottom: 2px;

  color: white;
  font-size: 16px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-style: italic;

  background: rgba(#000, 0);
  border: none;
  border-bottom: 1px solid $inactive-color;
  outline: 0;

  transition: .6s;

  &.dirty {
    border-color: $invalid-color;
  }

  &.valid {
    border-color: $valid-color;
  }
}

.validation-button {
  cursor: not-allowed;
  color: #777;

  transition: .6s;
  &.valid {
    cursor: pointer;
    color: $valid-color;
    text-shadow: 0 0 15px #AAA;
  }
}

.help {
  width: 100%;
  margin: 2px 0 0 0;
  font-size: 12px;
  text-align: left;
}
