@import '../../../node_modules/normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Raleway:300,300italic,600);

@import './vars.scss';
@import './Menu/menu.scss';
@import './ModalFormItem/modalFormItem.scss';
@import './Modal/modal.scss';
@import './Display/display.scss';
@import './StartScreen/startScreen.scss';
@import './ScoreScreen/scoreScreen.scss';
@import './Input/input.scss';
@import './TimerCircle/timerCircle.scss';

body, #app {
  height: 100vh;
  width: 100vw;
  min-width: 320px;

  overflow: hidden;
}

#app-background {
  height: 100%;
  width: 100%;

  background: $background-blue;

  &.incorrect {
    animation: incorrectFlash 1.5s;
  }

  &.correct {
    animation: correctFlash 1.5s;
  }
}

#app-card {
  $border-width: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px - #{$border-width*2});
  width: calc(100% - 20px - #{$border-width*2});
  min-width: 295px;

  background: $card-blue;
  font-family: Raleway, Arial;
  box-shadow: 0 0 10px 4px black;

  border: $border-width solid #DDD;

  overflow: hidden;
}

@keyframes incorrectFlash {
  0%, 100% {
    background: $background-blue;
  }

  30% {
    background: $invalid-color;
  }
}

@keyframes correctFlash {
  0%, 100% {
    background: $background-blue;
  }

  30% {
    background: $valid-color;
  }
}
