@import '../../../node_modules/normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Raleway:300,300italic,600);

@import './vars.scss';
@import './App/app.scss';
@import './Menu/menu.scss';
@import './MenuItem/menuitem.scss';
@import './Greeting/greeting.scss';
@import './Display/display.scss';
@import './Input/input.scss';

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background: #143346;
}

#app {
  $border-width: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px - #{$border-width*2});
  width: calc(100% - 20px - #{$border-width*2});
  min-width: 420px;

  background: #D6EFFF;
  box-shadow: 0 0 10px 4px black;

  border: $border-width solid #DDD;
}

#app-root {
  height: 100%;
  width: 100%;

  overflow: hidden;
}
