$background-blue: #143346;
$card-blue: #D6EFFF;
$lightgray: #888;
$invalid-color: #ff828a;
$valid-color: #abff8e;

$media-width-1: 500px;
$media-width-2: 775px;
$media-width-3: 950px;
$media-width-4: 1400px;
$media-width-5: 1900px;

@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
