$background-blue: #143346;
$card-blue: #D6EFFF;
$lightgray: #888;
$invalid-color: #ff828a;
$valid-color: #abff8e;

$media-width-0: 320;
$media-width-1: 500;
$media-width-2: 775;
$media-width-3: 950;
$media-width-4: 1400;
$media-width-5: 1900;

$app-card-gap: 10;

@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
