$lightgray: #888;
$invalid-color: #ff828a;
$valid-color: #abff8e;

@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
