#game-container {
  width: 100%;
  height: 100%;
}

#game-container > div { // I can't add any attributes to the altcontainer it seems? So this is taht
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
