@import '../Menu/menu.scss';
@import '../Input/input.scss';

// ----------------------------------------------------------------------------
// Magic
@mixin size-display($menu-height, $input-height) {
  #display {
    top: $menu-height + 0px;
    height: calc(100% - #{$menu-height + $input-height+ 0px});
  }
}


// ----------------------------------------------------------------------------
// Body

#display {
  position: absolute;
  left: 0;
  width: 100%;

  @include flex-container(column, center, center);

  animation: fadeIn 1s;

  &.fade {
    animation: fadeOut 1s;
  }
}

@include size-display($menu-height-0, $input-height-0);

// ----------------------------------------------------------------------------
// Keyframes

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

// ----------------------------------------------------------------------------
// Media queries

@media screen and (min-width: $media-width-1 + 0px) {
  @include size-display($menu-height-1, $input-height-1);
}

@media screen and (min-width: $media-width-2 + 0px) {
  @include size-display($menu-height-2, $input-height-2);
}

@media screen and (min-width: $media-width-3 + 0px) {
  @include size-display($menu-height-3, $input-height-3);
}

@media screen and (min-width: $media-width-4 + 0px) {
  @include size-display($menu-height-4, $input-height-4);
}

@media screen and (min-width: $media-width-5 + 0px) {
  @include size-display($menu-height-5, $input-height-5);
}
