#display {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 110px;
  height: 150px;

  transform: translate(-50%, -75%);

  background: rgba(#FFF, .8);

  p {
    margin: 0;
    text-align: center;

    color: #000;
    font-weight: 300;
    font-size: 16px;
  }
}

#display div {
  position: absolute;
  top: 0;
  height: 100%;
}

.display-component {
  height: 100%;
  width: 100%;
}

#curStaff {
  width: 100%;
  transform: scale(.8) translate(-22px, -10px);
}

#lastStaff {
  position: absolute;
  left: -95px;
  height: 100%;
  width: 90px;

  div {
    width: inherit;
  }
}

#display div svg, #lastStaff div svg {
  height: 100%;
}

#lastStaff div svg {
  width: 130px;
  transform: scale(.6) translate(-45px, -30px);
}

#lastStaff .last-guess-pitch {
  position: absolute;
  height: 38px;
  width: 38px;
  left: 50%;
  transform: translate(-20px, -48px);

  margin: 0;
  padding: 0;

  font-size: 16px;
  border-width: 1px;
  color: black;
  border-color: black;
  cursor: default;
}

#percent {
  position: absolute;
  top: 0;
  left: 100%;
  width: 90px;

  h1 {
    font-weight: 300;
    font-size: 28px;
  }
  @include flex-container(column, center, center);
}

@media screen and (min-width: $media-width-1) {
  #display {
    width: 154px;
    height: 175px;
  }

  #lastStaff {
    left: -100%;
    width: 100%;
  }

  #lastStaff div svg {
    transform: scale(.75) translate(-4px, -12px);
  }

  #curStaff {
    transform: none;
  }

  #percent {
    width: 100%;

    h1 {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: $media-width-2) {
  #display >* {
    transform: scale(1.2);
  }

  #display {
    height: 200px;
    transform: translate(-50%, -60%);
  }

  #curStaff {
    transform: scale(1.2);

    svg {
      transform: translateY(10px);
    }
  }

  #display #lastStaff {
    height: 90%;
    left: -120%;
  }

  #percent {
    left: 120%;
  }
}

@media screen and (min-width: $media-width-3) {
  #display #lastStaff {
    left: -140%;
  }

  #percent {
    left: 140%;
  }
}

@media screen and (min-width: $media-width-5) {
  #display >* {
    transform: scale(1.5);
  }

  #display {
    height: 260px;
    width: 200px;
  }

  #curStaff {
    transform: scale(1.5);

    svg {
      transform: translate(22px, 35px);
    }
  }

  #lastStaff div svg {
    transform: scale(.75) translate(0, -12px);
  }

  #display #lastStaff {
    top: 10%;
    height: 70%;
    width: 82%;
    left: -170%;
  }

  #lastStaff div svg {
    transform: scale(.75) translate(10px, -12px);
  }

  #lastStaff .last-guess-pitch {
    transform: translate(-5px, -48px);
  }
}
