$modal-valid-color: desaturate(darken($valid-color, 35%), 30%);
$modal-invalid-color: desaturate(darken($invalid-color, 35%), 30%);

.input-container {
  width: 80%;
}

.menu-input, .help {
  transform: translateY(10px);
}

.menu-input {
  width: 100%;

  padding-bottom: 2px;

  color: black;
  font-size: 18px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-style: italic;

  background: rgba(#000, 0);
  border: none;
  border-bottom: 1px solid $lightgray;
  outline: 0;

  transition: border-color .6s;

  &.dirty {
    box-shadow: inset 0 -7px 9px -7px $modal-invalid-color;
    border-color: $modal-invalid-color;
  }

  &.valid {
    box-shadow: inset 0 -7px 9px -7px $modal-valid-color;
    border-color: $modal-valid-color;
  }
}

.help {
  width: 100%;
  margin: 2px 0 0 0;

  color: #444;
  font-size: 12px;
  text-align: left;
}

.validation-button {
  cursor: not-allowed;
  color: #777;
  font-size: 24px;

  transition: .6s;
  &.valid {
    cursor: pointer;
    color: $modal-valid-color;
    text-shadow: 0 0 15px #AAA;
  }
}
