#keyboard {
  position: absolute;
  z-index: 3;
  width: 420px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);

  @include flex-container(row, space-around, center);
  flex-wrap: wrap;
}

.keyboard-button {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 20px;

  @include flex-container(column, center, center);

  background: none;
  color: $lightgray;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
  outline: none;
  border: 2px solid $lightgray;
  border-radius: 6px;

  transition: color .6s,
              border-color .6s,
              transform .6s;

  &:hover {
    color: black;
    border-color: black;
  }

  $invalid-color: darken(saturate($invalid-color, 60%), 30%);
  &.incorrect {
    color: $invalid-color;
    border-color: $invalid-color;
    animation: wobble .6s;
  }

  $valid-color: darken(saturate($valid-color, 60%), 30%);
  &.correct {
    color: $valid-color;
    border-color: $valid-color;
    transform: translateY(-10px) rotate(360deg);
  }
}

@media screen and (min-width: 890px) {
  #keyboard {
    width: 850px;
    bottom: 20px;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(-10deg)
  }
  37.5% {
    transform: rotate(8deg);
  }
  62.5% {
    transform: rotate(-6deg)
  }
  87.5% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}
