#keyboard {
  position: absolute;
  z-index: 3;
  width: 280px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);

  @include flex-container(row, space-between, center);
  flex-wrap: wrap;
}

.keyboard-button {
  height: 25px;
  width: 25px;
  padding: 15px;
  margin: 5px;

  @include flex-container(column, center, center);

  background: none;
  color: $lightgray;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 20px;
  outline: none;
  border: 1px solid $lightgray;
  border-radius: 6px;

  transition: color .6s,
              border-color .6s,
              transform .6s;

  &.active:hover {
    color: black;
    border-color: black;
  }

  $invalid-color: darken(saturate($invalid-color, 60%), 30%);
  &.incorrect {
    color: $invalid-color;
    border-color: $invalid-color;
    animation: wobble .6s;
  }

  $valid-color: darken(saturate($valid-color, 60%), 30%);
  &.correct {
    color: $valid-color;
    border-color: $valid-color;
    transform: translateY(-10px) rotate(360deg);
  }
}

@media screen and (min-width: $media-width-1) {
  #keyboard {
    width: 420px;
  }

  .keyboard-button {
    height: 50px;
    width: 50px;

    padding: 20px;
    margin: 10px;

    font-size: 25px;
    border-width: 2px;
  }
}

@media screen and (min-width: $media-width-2) {
  #keyboard {
    width: 580px;
  }
  .keyboard-button {
    height: 55px;
    width: 55px;
    margin: 15px;
  }
}

@media screen and (min-width: $media-width-3) {
  #keyboard {
    width: calc(100% - 40px);
    bottom: 20px;
  }
  .keyboard-button {
    margin: 0;
  }
}

@media screen and (min-width: $media-width-4) {
  #keyboard {
    width: calc(100% - 100px);
    bottom: 50px;
  }
  .keyboard-button {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: $media-width-5) {
  .keyboard-button {
    width: 65px;
    height: 65px;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(-10deg)
  }
  37.5% {
    transform: rotate(8deg);
  }
  62.5% {
    transform: rotate(-6deg)
  }
  87.5% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}
