$input-height-0: 95;
$input-height-1: 110;
$input-height-2: 130;
$input-height-3: 100;
$input-height-4: 115;
$input-height-5: 130;


// ----------------------------------------------------------------------------
// SCSS magic

@mixin size-keyboard-button($height, $width, $vMargin, $border-width, $rows) {
  $side: ($height - 2*$rows*($vMargin + $border-width))/$rows;
  $hMargin: ($width - 12*$rows*$border-width - 12/$rows*$side)/(24/$rows);
  height: $side + 0px;
  width: $side + 0px;
  margin: $vMargin*1px $hMargin*1px;
  border-width: $border-width + 0px;
}

@function keyboard-width($media-width) {
  @return $media-width - $app-card-gap*2;
}

// ----------------------------------------------------------------------------
// Body

#keyboard {
  position: absolute;
  z-index: 3;
  height: $input-height-0 + 0px;
  width: keyboard-width($media-width-0) + 0px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  @include flex-container(row, space-between, space-around);
  flex-wrap: wrap;
}

.keyboard-button {

  $border-width: 1;
  $vMargin: 5;

  @include size-keyboard-button(
    $input-height-0,
    keyboard-width($media-width-0),
    $vMargin,
    $border-width,
    2
  );

  @include flex-container(column, center, center);

  background: none;
  color: $lightgray;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 20px;
  outline: none;
  border: #{$border-width + 0px} solid $lightgray;
  border-radius: 6px;

  transition: color .6s,
              border-color .6s,
              transform .6s;

  transform: none;

  $invalid-color: darken(saturate($invalid-color, 60%), 30%);
  &.incorrect {
    color: $invalid-color;
    border-color: $invalid-color;
    animation: wobble .6s;
  }

  $valid-color: darken(saturate($valid-color, 60%), 30%);
  &.correct {
    color: $valid-color;
    border-color: $valid-color;

    &:nth-child(6n) {
      transform: translateY(-$vMargin + 0px) rotate3d(1, 1, 1, 360deg);
    }
    &:nth-child(6n + 1) {
      transform: translateY(-$vMargin + 0px) rotate3d(1, 1, -1, 360deg);
    }
    &:nth-child(6n + 2) {
      transform: translateY(-$vMargin + 0px) rotate3d(1, -1, -1, 360deg);
    }
    &:nth-child(6n + 3) {
      transform: translateY(-$vMargin + 0px) rotate3d(1, -1, 1, 360deg);
    }
    &:nth-child(6n + 4) {
      transform: translateY(-$vMargin + 0px) rotate3d(-1, -1, 1, 360deg);
    }
    &:nth-child(6n + 5) {
      transform: translateY(-$vMargin + 0px) rotate3d(-1, 1, -1, 360deg);
    }
  }
}

// ----------------------------------------------------------------------------
// Media Queries

@media screen and (min-width: $media-width-1 + 0px) {

  $border-width: 1;
  $vMargin: 5;

  #keyboard {
    height: $input-height-1 + 0px;
    width: keyboard-width($media-width-1) + 0px;
  }

  .keyboard-button {

    @include size-keyboard-button(
      $input-height-1,
      keyboard-width($media-width-1),
      $vMargin,
      $border-width,
      2
    );

    font-size: 25px;
  }
}

@media screen and (min-width: $media-width-2 + 0px) {

  $border-width: 1;
  $vMargin: 8;

  #keyboard {
    height: $input-height-2 + 0px;
    width: keyboard-width($media-width-2) + 0px;
  }
  .keyboard-button {
    @include size-keyboard-button(
      $input-height-2,
      keyboard-width($media-width-2),
      $vMargin,
      $border-width,
      2
    );
  }
}

@media screen and (min-width: $media-width-3 + 0px) {

  $border-width: 1;
  $vMargin: 20;

  #keyboard {
    height: $input-height-3 + 0px;
    width: keyboard-width($media-width-3) + 0px;
  }
  .keyboard-button {
    @include size-keyboard-button(
      $input-height-3,
      keyboard-width($media-width-3),
      $vMargin,
      $border-width,
      1
    );
  }
}

@media screen and (min-width: $media-width-4 + 0px) {

  $border-width: 2;
  $vMargin: 25;

  #keyboard {
    height: $input-height-4 + 0px;
    width: keyboard-width($media-width-4) + 0px;
  }
  .keyboard-button {
    @include size-keyboard-button(
      $input-height-4,
      keyboard-width($media-width-4),
      $vMargin,
      $border-width,
      1
    );
  }
}

@media screen and (min-width: $media-width-5 + 0px) {

  $border-width: 2;
  $vMargin: 30;

  #keyboard {
    height: $input-height-5 + 0px;
    width: keyboard-width($media-width-5) + 0px;
  }
  .keyboard-button {
    @include size-keyboard-button(
      $input-height-5,
      keyboard-width($media-width-5),
      $vMargin,
      $border-width,
      1
    );
  }
}

// ----------------------------------------------------------------------------
// Animations

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(-10deg)
  }
  37.5% {
    transform: rotate(8deg);
  }
  62.5% {
    transform: rotate(-6deg)
  }
  87.5% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}
