@function randBit() {
  $pos: random(2) - 1;
  @if $pos == 0 {
    @return 1;
  } @else {
    @return -1;
  }
}

@mixin size-button($height, $animationMargin) {
  $side: ($height/2 - $animationMargin * 2) + 0px;
  height: $side;
  width: $side;

  &.correct {
    @for $i from 0 through 5 {
      &:nth-child(6n + #{$i}) {
        transform: translateY(-$animationMargin + 0px) rotate3d(randBit(), randBit(), randBit(), 360deg);
      }
    }
  }
}

// ----------------------------------------------------------------------------
// Body

#keyboard {
  position: absolute;
  z-index: 3;
  height: $input-height-0 + 0px;
  width: 100%;
  bottom: 0;

  @include flex-container(row, space-between, space-around);
  flex-wrap: wrap;
}

.row-container {
  width: 100%;

  @include flex-container(row, space-around, center);
}

.keyboard-button {

  $border-width: 1;

  @include size-button($input-height-0, 5)

  @include flex-container(column, center, center);

  $active-color: darken($lightgray, 30%);
  background: none;
  color: $active-color;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 20px;
  outline: none;
  border: #{$border-width + 0px} solid $active-color;
  border-radius: 6px;

  transition: color .6s,
              border-color .6s,
              transform .6s;

  transform: none;

  &.inactive {
    color: $lightgray;
    border-color: $lightgray;
    filter: blur(20px);
  }

  $invalid-color: darken(saturate($invalid-color, 60%), 30%);
  &.incorrect {
    color: $invalid-color;
    border-color: $invalid-color;
    animation: wobble .6s;
  }

  $valid-color: darken(saturate($valid-color, 60%), 30%);
  &.correct {
    color: $valid-color;
    border-color: $valid-color;
  }
}

// ----------------------------------------------------------------------------
// Media Queries

@media screen and (min-width: $media-width-1 + 0px) {
  #keyboard {
    height: $input-height-1 + 0px;
  }
  .keyboard-button {
    @include size-button($input-height-1, 8)
  }
}

@media screen and (min-width: $media-width-2 + 0px) {
  #keyboard {
    height: $input-height-2 + 0px;
  }
  .keyboard-button {
    @include size-button($input-height-2, 10)
  }
}

@media screen and (min-width: $media-width-3 + 0px) {
  #keyboard {
    height: $input-height-3 + 0px;
  }
  .row-container {
    width: 50%;
  }
  .keyboard-button {
    @include size-button($input-height-3 * 2, 15)
  }
}

@media screen and (min-width: $media-width-4 + 0px) {
  #keyboard {
    height: $input-height-4 + 0px;
  }
  .keyboard-button {
    @include size-button($input-height-4 * 2, 20)
  }
}


@media screen and (min-width: $media-width-5 + 0px) {
  #keyboard {
    height: $input-height-5 + 0px;
  }
  .keyboard-button {
    @include size-button($input-height-5 * 2, 25)
  }
}

// ----------------------------------------------------------------------------
// Animations

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(-10deg)
  }
  37.5% {
    transform: rotate(8deg);
  }
  62.5% {
    transform: rotate(-6deg)
  }
  87.5% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}
