.staff-container {
  height: 100%;
  width: 100%;
}

.lastStaff {
  position: absolute;
  left: -100%;

  svg {
    transform: scale(.75) translateY(-20px);
  }

  p {
    margin: 0;

    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;

    transform: translateY(-50px);
  }
}

#display .last-guess-pitch {
  position: absolute;
  height: 38px;
  width: 38px;
  left: 50%;
  transform: translate(-17px, -48px);

  margin: 0;
  padding: 0;

  border-width: 1px;
  color: black;
  border-color: black;
  cursor: default;
}
