$svg-default-height: 150;
$svg-default-width: 105;

#display.staves {
  flex-direction: row;
}

.staff {
  height: $svg-default-height + 0px;
  width: $svg-default-width + 0px;
}

#lastStaff {

  $scale-factor: .7;
  // Shift labels on last staff to make up for the fact that they don't
  // reposition after svg scaling
  $vertical-shift: #{$svg-default-height*(1 - $scale-factor)/2*1px};

  // The svg is drawn 25px from the top of the paper (Staff/Staff.jsx, _drawStave)
  // so after scaling the lastStaff is no longer horizontally aligned with the curStaff
  // it's off by a factor of:
  $vex-staff-offset: 22;
  $scaled-staff-offset: $vex-staff-offset*$scale-factor;

  transform: translateY($scaled-staff-offset + 0px);

  @include flex-container(column, center, center);

  p {
    margin: 0;
  }

  .title {
    transform: translateY($vertical-shift);
  }

  .last-guess-pitch {
    height: 35px;
    width: 35px;

    font-size: 16px;
    transform: translateY(-$vertical-shift) scale($scale-factor);
  }

  .staff {
    transform: scale($scale-factor);
  }
}

// ----------------------------------------------------------------------------
// Media queries

@media screen and (min-width: $media-width-2 + 0px) {

  $scale-factor: .7;
  $vex-staff-offset: 22;
  $scaled-staff-offset: $vex-staff-offset*$scale-factor;

  #lastStaff {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(calc(-50% + #{$scaled-staff-offset + 0px}));
  }
  #curStaff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include flex-container(row, center, center);
  }
}

@media screen and (min-width: $media-width-3 + 0px) {

  $scale-factor: .7;
  $vex-staff-offset: 35;
  $scaled-staff-offset: $vex-staff-offset*$scale-factor;

  #lastStaff {
    transform: translateY(calc(-50% + #{$scaled-staff-offset + 0px}))
               scale(1.25);
  }

  #curStaff {
    transform: translate(-50%, -50%) scale(1.25);
  }

}

@media screen and (min-width: $media-width-4 + 0px) {
  $scale-factor: .7;
  $vex-staff-offset: 35;
  $scaled-staff-offset: $vex-staff-offset*$scale-factor;

  #lastStaff {
    transform: translateY(calc(-50% + #{$scaled-staff-offset + 0px}))
               scale(1.6);
  }

  #curStaff {
    transform: translate(-50%, -50%) scale(1.6);
  }
}
